<html>
   <head>
       <title>事件指令</title>
	   <script src="angular.min.js"></script>
       <script>
	    //定义一个myApp模块
		var app=angular.module('myApp',[]);
		//在app模块定义一个myController控制器
        app.controller('myController',function($scope){
		     $scope.add=function(){
			   $scope.z=parseInt($scope.x)+parseInt($scope.y);
			 };
		})

	   </script>
   </head>
   <body ng-app="myApp" ng-controller="myController">
   x:<input ng-model="x"/>
   y:<input ng-model="y"/>
   <br/>
   <button ng-click="add()">运算</button>
   <br/>
   结果:{{z}}
   </body>
</html>